body {
	margin: 0 auto;
}

.nav-bar {
	text-align: center;
	background-color: #FFCC00;
	padding: 1px 0;
	margin-top: 5px;
	font-family: fantasy;
}

a:hover {
	color: white;
}

.content {
	padding-left: 300px;
	padding-right: 300px;
}

.footer {
	background-color:#CFCFE6;
	padding: 10px 0;
	margin-bottom: 0px;
	text-align: center;
}

h1 {
	text-align: center;
	background-color: #FF9900;
	padding: 40px 0;
	margin: 0px;
	font-family: cursive;
	font-weight: bold;
}

h2 {
	font-family: serif;
	padding-top: 25px;
}

h3 {
	font-family: sans-serif;
	padding-top: 25px;
}

h5 {
	font-family: fantasy;
}

ul li {
	display: inline-block;
	margin: 0px 35px;
	font-weight: bold;
}

p {
	font-family: "Time New Roman"
}
